<h1>Add New Refrigerator</h1>

<form action="/refrigerators" method="POST">
    <label>Brand:</label>
    <input type="text" name="brand" required> <br>

    <label>Price:</label>
    <input type="number" name="price" required> <br>

    <label>Image URL:</label>
    <input type="text" name="image" required> <br>

    <label>Description:</label>
    <textarea name="desc" required></textarea> <br>

    <label>Door Type:</label>
    <input type="text" name="door" required> <br>

    <button type="submit">Add Refrigerator</button>
</form>

<a href="/refrigerators">Back to List</a>
